<h1>Editing inquilino</h1>

<%= render "form", inquilino: @inquilino %>

<br>

<div>
  <%= link_to "Show this inquilino", @inquilino %> |
  <%= link_to "Back to inquilinos", inquilinos_path %>
</div>
