<div style="position: absolute;">
  <div class="inq-card">
    <h1>Cadastrar inquilino</h1>
    <%= render "form", inquilino: @inquilino %>
    <div>
      <%= link_to "Inquilinos", inquilinos_path %>
    </div>
  </div>
</div>
<script type="text/javascript">
  document.body.style.backgroundColor = "#5F9EA0"
</script>
